body {
    background-color: #FFF5F3;
}
/* h2{
    text-decoration: underline;
} */

hr {
    background-color: black;
    border-top: 2px solid black;
}
.footer {
    margin-top: 150px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
 }